

{% extends 'base.html' %}
{%load static %}
{%block title %} Inicio {%endblock title %}


{%block content %}


    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center wow fadeIn" data-wow-delay="0.1s">
                <h1 class="mb-5">Detalle <span class="text-uppercase text-primary bg-light px-2"> Caso </span>
                </h1>
            </div>
            <div>
                {{DetailCaso}}
            </div>
        </div>
    </div>
    <!-- Feature End -->




{%endblock content %}


