{% extends 'base.html' %}
{% load static %}
{% block title %} Detalle Caso Clínico {% endblock title %}

{% block content %}

<!-- Hero Start -->
<div class="container-fluid pb-5 mb-5 bg-primary hero-header">
    <div class="container py-5">
        <div class="row g-3 align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="hero-title mb-0 animated slideInLeft">Detalle</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
{% if messages %}
  {% for message in messages %}
    {% if 'success' in message.tags %}
      <div class="modal fade" id="inscripcionOkModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-success text-white">
              <h5 class="modal-title">Inscripción exitosa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              {{ message }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var modal = new bootstrap.Modal(document.getElementById('inscripcionOkModal'));
          modal.show();
        });
      </script>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center wow fadeIn" data-wow-delay="0.1s">
            <h1 class="mb-5">Detalle del <span class="text-uppercase text-primary bg-light px-2">Caso Clínico</span></h1>
        </div>

        <div class="card shadow p-4">

            <h3 class="mb-3">{{ caso.nombre }}</h3>

            <p><strong>Descripción:</strong> {{ caso.descripción }}</p>

            <p><strong>Categoría:</strong> {{ caso.categoria }}</p>

            <p><strong>Puntaje Total:</strong> {{ caso.puntaje_total }}</p>

            <hr>

            <h4>Ficha del Paciente</h4>

            {% if caso.paciente %}
            <div class="row">
                <!-- Datos del paciente -->
                <div class="col-md-8">
                    <p><strong>Nombre:</strong> {{ caso.paciente.nombre }}</p>
                    <p><strong>Edad:</strong> {{ caso.paciente.edad }}</p>
                    <p><strong>RUT:</strong> {{ caso.paciente.rut }}</p>
                    <p><strong>fecha_nacimiento:</strong> {{ caso.paciente.fecha_nacimiento }}</p>
                    <p><strong>sexo:</strong> {{ caso.paciente.sexo }}</p>
                    <p><strong>direccion:</strong> {{ caso.paciente.direccion }}</p>
                    <p><strong>telefono:</strong> {{ caso.paciente.telefono }}</p>
                    <p><strong>prevision:</strong> {{ caso.paciente.prevision }}</p>
                    <p><strong>ocupacion:</strong> {{ caso.paciente.ocupacion }}</p>
                    <p><strong>habitos:</strong> {{ caso.paciente.habitos }}</p>
                </div>

            <!-- Foto del paciente -->
                <div class="col-md-4 text-md-end text-center">
                    {% if caso.paciente.imagen %}
                    <img src="{{ caso.paciente.imagen.url }}"
                        alt="Foto de {{ caso.paciente.nombre }}"
                        class="img-fluid rounded paciente-foto">
                    {% endif %}
                </div>
            </div>
            {% else %}
            <p class="text-muted">Este caso no tiene un paciente asignado.</p>
            {% endif %}


            {% if user.is_authenticated %}
                {% if inscrito %}
                    <div class="alert alert-success mt-3">
                    Ya estás inscrito en este caso.
                    </div>
                    <a href="{% url 'etapa_inicial' caso.id %}" class="btn btn-primary mt-2">
                        Ingresar al caso
                    </a>
                {% else %}
                    <form method="post" action="{% url 'inscribir_caso' caso.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">
                            Inscribirme en este caso
                        </button>
                    </form>
                {% endif %}
                {% else %}
                <div class="alert alert-info mt-3">
                    Debes iniciar sesión para inscribirte.
                    <a href="{% url 'Aestudiante:login' %}?next={% url 'detalleCaso' caso.id %}" class="btn btn-sm btn-primary ms-2">
                    Iniciar sesión
                    </a>
                </div>
                {% endif %}




            <a href="{% url 'listAllCasos' %}" class="btn btn-primary mt-4">Volver</a>

        </div>
    </div>
</div>

{% endblock content %}