{% extends 'base.html' %}
{% block title %}Categorías{% endblock %}

{% block hero_title %}Categorías{% endblock %}

{% block content %}
<!-- Hero Start -->
<div class="container-fluid pb-5 mb-5 bg-primary hero-header">
    <div class="container py-5">
        <div class="row g-3 align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="hero-title mb-0 animated slideInLeft">Inicio</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<section class="py-4">
  <div class="container">
    <div class="row g-3">

      {% for c in categorias %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title mb-2">{{ c.nombre }}</h5>

            {% if c.descripcion %}
              <p class="card-text text-muted">{{ c.descripcion|truncatechars:120 }}</p>
            {% endif %}

            <a class="btn btn-outline-primary" href="{% url 'caso_clinico:casos_by_categoria' c.id %}">
              Ver casos
            </a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12">
        <p class="text-center text-muted py-5">No hay categorías registradas.</p>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% endblock %}

