{% extends 'base.html' %}
{%load static %}
{%block title %} Caso 1 {%endblock title %}

{%block content %}
<!-- Hero Start -->
    <div class="container-fluid pb-5 bg-primary hero-header">
        <div class="container py-5">
            <div class="row g-3 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-1 mb-0 animated slideInLeft">Caso Clinico</h1>
                </div>
                <div class="col-lg-6 animated slideInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-end mb-0">
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Pages</a></li>
                            <li class="breadcrumb-item text-secondary active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
{% if video_id %}
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/{{ video_id }}"
          allowfullscreen></iframe>
</div>
{% else %}
  <p>No hay video disponible.</p>
{% endif %}
{%endblock content %}
