{% extends 'base.html' %}
{%load static %}
{%block title %} Caso 1 {%endblock title %}

{%block content %}
<!-- Hero Start -->
    <div class="container-fluid pb-5 bg-primary hero-header">
        <div class="container py-5">
            <div class="row g-3 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-1 mb-0 animated slideInLeft">Caso Clinico</h1>
                </div>
                <div class="col-lg-6 animated slideInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-end mb-0">
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Inicio</a></li>
                            <li class="breadcrumb-item"><a class="text-primary" href="#!">Ficha Paciente</a></li>
                            <li class="breadcrumb-item text-secondary active" aria-current="page">Amnesis</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<h1>{{ video.titulo }}</h1>

<div class="video-container">
    {% if video.embed_url %}
    <iframe
        width="900" height="506"
        src="{{ video.embed_url }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
    </iframe>
    {% else %}
        <p>No se pudo cargar el video. Revisa la URL en la etapa.</p>
    {% endif %}
</div>
{% endblock %}
